// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: a_AlbionicNr_Bold;
    src: url('/fonts/a_AlbionicNr_Bold.ttf');
}

@font-face {
	font-family: Marmelad;
	src: url('/fonts/MarmeladRegular.ttf');
}

// Variables
@import 'variables';
@import 'iconfont.css';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import "main";
@import "mobile";
@import "desktop";

html {
	font-size: 62.5%;
}

body {
    background-color: $background;
	font-family: $font-family-paragraphs;
	scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p, ul, footer {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul li, span, a, img {

	&::selection {
		background-color: $text-selection;
		color: $text-primary;
	}
}

h2, h3, h4 {
	font-weight: 300;
	line-height: 1.4;
}

h2, h3 {
	text-transform: uppercase;
}

h1 {
	font-size: $three;
}

h2 {
	font-size: $one;
	font-family: $font-family-header;
}

h3 {
	font-size: $two;
}

h4 {
	font-size: $four;
}

p {	
	font-size: $three;
	line-height: 1.4;
	color: $text-secondary;
}

a {
	text-decoration: none;

	&:focus {
		outline: none; // 2px solid $main;
		// color: $main;
	}
}

ul li {
	list-style-type: none;
}

strong {
	font-weight: 300;
}